body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(65,34,195);
    background: linear-gradient(0deg, rgba(28,10,102,1) 14%, rgba(47,80,118,1) 54%, rgba(66,154,135,1) 100%);
    background-attachment: fixed;
    color: white;
    text-align: center;
  }
  
  h1 {
    font-size: 4em;
  }
  
  form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  .song {
    width: 90%;
    padding: 10px;
    margin: 1% auto;
    text-align: center;
    background-color: #1c0a666a;
    border-radius: 10px;
  }

  h2{
      margin: 0%;
  }
  
  .verse, .chorus {
    display: flex;
    flex-wrap: wrap;
  }
  
  .chord {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #888890;
    border-radius: 10px;
    width: 15%;
    margin: 10px auto;
    padding: 10px;
    font-size: 3em;
    box-shadow: 0px 0px 8px 0px #000000;
    transition: all .05s ease;
    cursor: pointer;
  }

  .playing {
    transform: scale(1.1);
    border-color: white;
    box-shadow: 0 0 1rem #000000;
  }

  .instruction {
    font-size: 2em;
  }


  @media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
      }
    .chord {
        width: 40%;
        margin: 1% auto;
        padding: 1%;
        font-size: 2em;
    }

  }
  